<a href="https://colab.research.google.com/github/DeytoAndres/sistemasDistribuidos/blob/main/untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
myNumber= 3
myNumberDecimal=3.6
state=True

In [ ]:
print(f'valor entero={myNumber}')
print(f'valor entero es = ',myNumber)
print(f'valor decimal={myNumberDecimal}')
print(f'el valor boleano es=',state)

valor entero=3
valor entero es =  3
valor decimal=3.6
el valor boleano es= True

In [ ]:
aux1=10
aux2=2
print("La suma de los dos valores aux1+aux2 =", aux1+aux2)
print("La resta de los dos valores aux1-aux2 =", aux1-aux2)
print("La multiplicacion de los dos valores aux1*aux2 =", aux1*aux2)
print("La division de los dos valores aux1/aux2 =", aux1/aux2)
print("La potencia de los dos valores aux1**aux2 =", aux1**aux2)

La suma de los dos valores aux1+aux2 = 12
La resta de los dos valores aux1-aux2 = 8
La multiplicacion de los dos valores aux1*aux2 = 20
La division de los dos valores aux1/aux2 = 5.0
La potencia de los dos valores aux1**aux2 = 100

In [ ]:
var1='hola'
var2='!,Deyto'
print(var1+var2)

hola!,Deyto

In [ ]:
print(3*var1)

holaholahola

In [ ]:
num1=10
num2=10.5

Lunes 24 de junio

In [ ]:
tmp=list()
tmp.append(2)
print(tmp)
tmp.append('Deyto')
print(tmp)
#print(tmp(2))
#aux=tmp(2)
#aux=capitalize()
# print(aux)
#print(aux.upper())
tmp1='hello'
print(tmp1.capitalize())
aux1=[1,2,3,4,5,6,7,8,9,10]
# print(aux1)
# aux1[4]=10
# print(aux1)
# print(aux1[1-1])
# print(aux1[3:7])
# print(aux1[0:5])

# aux2=list()
# for i in range(100):
#   aux2.append(i)
# #print(aux2[:20])

# aux3=list()
# for indx, elem in enumerate(aux2):
#   if aux2[indx]%2==0:
#     aux3.append(aux2[indx])

# print(aux3)

# aux4=list()
# for indx, elem in enumerate(aux2):
#   if aux2[indx]%2==1:
#     aux4.append(aux2[indx])

# print(aux4)

animals=['cat','Dog', 'Monkey','rabbit']
for animal in animals:
  print(animal)

tmp3=[ i**2 for i in range(10) if i%2==0 ]
print(tmp3)

myList=[1,2,3,4,5,6]
myDictaux1={x:x**2 for x in  myList}
print(myDictaux1)

[2]
[2, 'Deyto']
Hello
cat
Dog
Monkey
rabbit
[0, 4, 16, 36, 64]
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
def suma(var1, var2, flag):
  if flag==True:
    tmp=var1+var2
  else:
    tmp=var1-var2
  return tmp


num1=3
num2=7
control=False
print(suma(num1,num2, control))

-4

In [ ]:
listNumeros=[-1,+2,0]
def numero_positivo_negativo(numero):
  if numero > 0:
    return 'positivo'
  if numero < 0:
   return 'negativo'
  else:
   return 'no tiene signo'

  for numero in lista:
    print(f'El numero (numero) es (signo(numero))')

In [3]:
#SET AS CONTAINER
var1=set()
var1.add(3)
print(var1)
var1.add('Carlos')
var1.add(True)
print(var1)
var1.add(5)
print(var1)
var1.remove('Carlos')
print(var1)

print(len(var1))

print(3 in var1)

for elem in var1:
  print(elem)

{3}
{True, 3, 'Carlos'}
{True, 5, 3, 'Carlos'}
{True, 5, 3}
3
True
True
5
3

In [8]:
#TUPLES
VAR2=tuple()
var=(1,2,3,4,5)
print(type(var))
#var3 = tuple(x for x in var if x != 4)
#print(var3)
aux=list(var)
print(type(aux))

aux[2]=300
var=tuple(aux)
print(var)
print(type(var))

<class 'tuple'>
<class 'list'>
(1, 2, 300, 4, 5)
<class 'tuple'>

In [21]:
# How to define a class
class saludo(object):
  def __init__(self,name):
    print("El objeto ha sido creado")
    self.name=name

  def saludoPersonal(self):
    return f"Hola, {self.name}"



name1=saludo('Deyto')
name2=saludo('Andres')
name3=saludo('Delian')

print(name1.saludoPersonal())
print(name2.saludoPersonal())
print(name3.saludoPersonal())

El objeto ha sido creado
El objeto ha sido creado
El objeto ha sido creado
Hola, Deyto
Hola, Andres
Hola, Delian

In [22]:
import math
class FiguraGeometrica:
  def __init__(self,radio, base, altura):
    self.radio = radio
    self.base = base
    self.altura = altura

  def calcularAreaCirculo(self):
    areaCirculo = math.pi * self.radio **2
    return areaCirculo

figura = FiguraGeometrica(radio=5, base=6, altura=4)
areaCirculo = figura.calcularAreaCirculo()
print(areaCirculo)

78.53981633974483

In [23]:
class printingNameAge(object):
  def __init__(self,name, age):
    print(f"El objeto ha sido creado")
    self.name=name
    self.age=age

studen1=printingNameAge('Deyto',23)

El objeto ha sido creado